<mat-horizontal-stepper class="data-form" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="step1.form" label="Fill out sender details">
        <app-create-poa-step1 [userData]="userData$ | async" #step1></app-create-poa-step1>
    </mat-step>
    <mat-step [stepControl]="step2.form" label="Fill out recipient details">
    <app-create-poa-step2 #step2></app-create-poa-step2>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Power of Attorney Details</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-raised-button color="primary"
                    [disabled]="!step2.form.valid"
                    (click)="submit(step1.form.value, step2.form.value)">
                    Create Course
                </button>
        </div>
    </mat-step>
</mat-horizontal-stepper>