<div class="form" [formGroup]="form">
  <button class="m-y1" (click)="openDialog()" mat-button color="accent">Search Power of Attorney recipient</button>
    <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name" formControlName="firstName" />
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="Last name"
          formControlName="lastName"
        />
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone" formControlName="phone" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <input matInput placeholder="Country" formControlName="country" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" formControlName="city" />
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
</div>