<div *ngIf="userData" class="form" [formGroup]="form">
  <!-- <ng-template matStepLabel>Step 1</ng-template> -->
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First name" formControlName="firstName" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input
      matInput
      placeholder="Last name"
      formControlName="lastName"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput placeholder="Phone" formControlName="phone" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email" />
  </mat-form-field>

 
    <mat-radio-group
    class="mb-15"
      formControlName="typeOfPOA"
      aria-label="Select a type of Power of Attorney"
    >
      <mat-radio-button class="mr-15" value="DURABLE">Durable</mat-radio-button>
      <mat-radio-button value="TEMPORARY">Temporary</mat-radio-button>
    </mat-radio-group>

<!-- 
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input
      formGroupName="dateRange"
      [rangePicker]="picker"
    >
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error
      *ngIf="
        form.get('dateRange')?.value.controls.start.hasError('matStartDateInvalid')
      "
      >Invalid start date
    </mat-error>
    <mat-error
      *ngIf="
        form.get('dateRange')?.value.controls.end.hasError('matEndDateInvalid')
      "
      >Invalid end date
    </mat-error>
  </mat-form-field> -->

  <mat-form-field appearance="fill" *ngIf="isRangeVisible">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input formGroupName="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  
    <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
  </mat-form-field>
  
  <!-- <p>Selected range: {{ form.get('dateRange')?.value | json }}</p> -->
  <div>
    <button mat-button matStepperNext>Next</button>
  </div>
</div>
