.mat-form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form {
    width: 100%;
}

.mr-15 {
    margin-right: 1.5rem;
    margin-bottom: 1em;
}

.mb-15 {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
}