<div [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name" formControlName="firstName" />
      </mat-form-field>
</div>