<div mat-dialog-content>
    <h5>Select search option</h5>
    <form class="example-form">
        <mat-radio-group class="search-block" aria-label="Select an option">
            <mat-radio-button class="m-r15" value="1">Search by Id</mat-radio-button>
            <mat-radio-button value="2">Search by phone</mat-radio-button>
          </mat-radio-group>
    <mat-form-field class="example-full-width">
    <span matPrefix> </span>
    <input type="tel" matInput placeholder="Search by phone" name= "search" [(ngModel)]= "search">
    <button matSuffix mat-button><mat-icon >search</mat-icon></button>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <span matPrefix> </span>
        <input type="id" matInput placeholder="Search by id" name= "search" [(ngModel)]= "search">
        <button matSuffix mat-button><mat-icon >search</mat-icon></button>
        </mat-form-field>
    <br/>
    {{search}}
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>